* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: #262626;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#main {
  margin: 60px 60px;
  margin-bottom: auto;
}

select {
  width: 200px;
  height: 50px;
  border-radius: 8px;
  padding: 8px;
  text-transform: capitalize;
}

button {
  min-width: 50px;
  height: 100%;
  border: 1px solid black;
  z-index: 1;
  background: teal;
}

.right {
  position: absolute;
  right: 0px;
}

.container {
  background-color: antiquewhite;
  height: 500px;
  display: flex;
  overflow: hidden;
  width: 800px;
  position: relative;
  margin-top: 40px;
  border-radius: 8px;
}

.carousel {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  transition: transform 500ms;
}

.card {
  width: 200px;
  min-width: 200px;
  height: 200px;
  border: 1px solid black;
  transition: all 500ms;
}

.primary {
  /* transform: scale(1.5); */
  /* width: 300px; */
  min-width: 300px;
  height: 300px;
}
